<%- include('./components/head' , {title : 'العملاء'}) %>
<div class="m100">

    <div class="container home ">
        <div class="row ">
            <a href="/clients/view" class="home-link ">
                <img src="/images/team.svg">
                <p>
                    العملاء
                </p>
            </a>
            <a href="/clients/change" class="home-link ">
                <img src="/images/debt.svg ">
                <p>
                    المتبقي
                </p>
            </a>
            <a href="/clients/paid" class="home-link ">
                <img src="/images/paid.svg ">
                <p>
                    المدفوع بشكل كامل
                </p>
            </a>
        </div>
    </div>
</div>
    <%- include('./components/footer') %>