<%- include('./components/head', {title : 'خطأ'}) %>
<%- include('./components/right-sidebar') %>
<%- include('./components/left-sidebar') %>
<div class="m100">
      <p class="alert alert-danger text-center " style="width: fit-content; margin: 50px auto;">
        حدث خطأ ما يرجى اعادة المحاولة
    </p>
</div>

  

    <%- include('./components/footer') %>