<%- include('./components/head' , {title : 'السلف'}) %>
<%- include('./components/right-sidebar') %>
<%- include('./components/left-sidebar') %>
<div class="m100">
    <div class="main-header">
        <h3 class="text-center">
            السلف
        </h3>
    </div>
    <div id="workers">
        <div class="container home">
            <div class="row">
                <a href="/loan/create" class="home-link ">
                    <img src="/images/create.svg">
                    <p> تسجيل سلفة جديدة</p>
                </a>
                <a href="/loan/list" class="home-link ">
                    <img src="/images/bill.svg">
                    <p> عرض السلف السابقة</p>
                </a>

            </div>
        </div>
    </div>

</div>
    


    <%- include('./components/footer') %>