<%- include('./components/head' , {title : 'غير مفعل'}) %>
<%- include('./components/right-sidebar') %>
<%- include('./components/left-sidebar') %>
<div class="m100">
     <div class="main-header">
        <h3 class="text-center">
            غير مفعل
        </h3>
    </div>
    <div id="workers">
        <div class="container home">
            <div class="alert alert-danger text-center " style="width: fit-content; margin: auto;">
                لم يتم تفعيل هذا الحساب بعد ,من فضلك تواصل مع الادارة للتفعيل
            </div>
        </div>
    </div>
</div>
   



    <%- include('./components/footer') %>