<%- include('./components/head' , {title : 'الخزنة'}) %>
<%- include('./components/right-sidebar') %>
<%- include('./components/left-sidebar') %>
<div class="m100">
    <div class="main-header">
        <h3 class="text-center">
            الخزنة
        </h3>
    </div>
    <div id="products">
        <div class="container home">
            <div class="row">
                <a href="/safe/safe_view" class="home-link">
                    <img src="/images/list.svg">
                    <p>عرض الخزنة</p>
                </a>
            </div>
        </div>
    </div>
</div>
    

    <%- include('./components/footer') %>