<div class="wrapper">
    <nav id="left-sidebar">
        <% if (user.isAdmin) { %>

            <ul class="list-unstyled components">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                        <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href="/safe">
                            <img src="/images/safe.png">
                                    <p>الخزنة</p>
                        </a>
                    </li>
                    </ul>
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                            <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href="/attendance">
                                <img src="/images/attendance.svg">
                                <p>الحضور</p>
                            </a>
                        </li>
                        </ul>
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                        <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href="/workers/d">
                            <img src="/images/view_user.svg">
                        <p> عرض البائعين</p>
                        </a>
                    </li>
                    </ul>
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                            <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href="/workers/e">
                                <img src="/images/view_user.svg">
                                <p> عرض الموظفين</p>
                            </a>
                        </li>
                        </ul>
    
    
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                        <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href="/products">
                            <img src="/images/loan.svg">
                            <p>السلف</p>
                        </a>
                    </li>
                    </ul>
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                            <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href="/workers/d/deactivated
                            ">
                                <img src="/images/fired.svg">
                                <p>البائعين الموقفين عن العمل</p>
                            </a>
                        </li>
                        </ul>
                        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                            <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                                <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href="/workers/e/deactivated

                                ">
                                    <img src="/images/fired2.svg">
                                    <p> الموظفين الموقفين عن العمل</p>
                                </a>
                            </li>
                            </ul>
                            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                                <li class="nav-item btn btn-outline-warning mx-1" style="border-color: transparent; margin: 5px;">
                                    <a class="nav-link active" style="padding: 5px 10px;" aria-current="page" href=""
    
                                    >
                                        
                                    </a>
                                </li>
                                </ul>
                
                
            </ul>
            <% } %>

    </nav> 
</div>