
<div class="df">

    <div class="col-md-5 col-lg-5 col-sm-5 col-5 mx-4">
        
        <div class="card text-white bg-dark mt-4">
            <div class="card-header"> قيمة الباقي خلال الفترة المحددة </div>
                                <div class="card-body">
                                    
                                    <h1 class="counter">
                                        <%= analysis.change_of_period_sb.sum%>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-5 col-5 mx-4">
                            
                            <div class="card text-white bg-dark mt-4">
                                <div class="card-header"> قيمة الباقي خلال الفترة المحددة </div>
                                <div class="card-body">
                                    
                                    <h1 class="counter">
                                        <%= analysis.change_of_period_sb.sum%>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>



<div class="bill-card">




    <div class="text-center projects ">
        <h3>

            قيمة الباقي خلال الفترة المحددة
        </h3>
    </div>
    <div class="analysis-card">

   
    <div class=" col-md-6 col-6 col-lg-6 col-sm-6  my-2 bill-row ">
    <div class="card  salary-row col-md-6 col-6 col-lg-6 col-sm-6 ">
        <div class="row my-2 ">
            <div class="text-center">
                
                <h1 class="counter">
                    <%= analysis.change_of_period_sb.sum%>
                </h1>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<div class="bill-card   ">
    <div class="text-center projects ">
        <h3>

            قيمة الباقي الكلي
        </h3>
    </div>
    <div class="analysis-card">

   
    <div class=" col-md-6 col-6 col-lg-6 col-sm-6  my-2 bill-row ">
    <div class="card  salary-row col-md-6 col-6 col-lg-6 col-sm-6 ">
        <div class="row my-2 ">
            <div class="text-center">
                
                <h1 class="counter">
                    <%= analysis.change_of_all_sb.sum %>
                </h1>
            </div>
        </div>
    </div>
</div>

</div>
</div>


