<div class="bill-card">
    <header class="text-center">
        <!-- <img src="/images/profile.png" class="bill-img" alt="الفاتورة" title="الفاتورة"> -->
    </header>
    <div class="text-center projects ">
        <h3>

            العملاء المميزين
        </h3>
    </div>

    <div class="row my-2 bill-row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-e text-center">
          العميل المميز 
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-e text-center" >
            عدد الفواتير الخاصة بالعميل المميز
        </div>
    </div>
    <div class="row my-2 bill-row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-warning text-white py-1 text-center">
            <%= total_bills %>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-primary text-center "> <i class="fa fa-shopping-cart"></i> <h2 class="counter""> <center> <%= total_bills %> </center> </h2>

        </div> 
    </div>


</div>