<div class="bill-card attendance-row">
                               
    <div class="projects">
        <h3>قيمة المدفوع</h3>
        <% var total_price = 0 %> 
        <% invoices.forEach(element => { %>
         <% total_price = element.total_price + total_price %> 
         <% }) %>
         <div class="counter-box "> <i class="fa fa-shopping-cart"></i> <h2 class="counter"><%= total_price %> </h2>

</div> 
</div>


</div>