<div class="bill-card attendance-row">
    <header class="text-center">
        <img src="/images/addtion.svg" class="bill-img" alt="الفاتورة" title="الفاتورة">
    </header>
    <h5 class="text-center">
        الاضافات
    </h5>

    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 py-2 mb-3 bg-e">
            القمية المضافة الاجمالية
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-success text-white py-2 mb-3">
            <%= total_add %>
        </div>
    </div>
    <div class="row my-2 bill-row">
        <div class="col-md-8 col-lg-8 col-sm-6 col-6">
            البيان
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-6">
            القيمة
        </div>

    </div>
    <div class="info_card px-3 scroll-hide">






        <% addition.forEach(({amount , text })=> { %>
            <a href="/purchases/p/view" class="row my-2 bill-row">
                <div class="col-md-8 col-lg-8 col-sm-6 col-6">
                    <%= text %>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-6">
                    <%= amount %>
                </div>
            </a>
            <% }) %>



    </div>

</div>