<div class="bill-card attendance-row">
    <header class="text-center">
        <img src="/images/loan.svg" class="bill-img" alt="الفاتورة" title="الفاتورة">
    </header>
    <h5 class="text-center">
        السلف
    </h5>

    <div class="row jc2">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 py-2 mb-3 bg-e">
            اجمالي السلف
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-danger text-white py-2 mb-3">
            <%= total_loans %>
        </div>
    </div>
    <div class="row my-2 bill-row">
        <div class="col-md-8 col-lg-8 col-sm-6 col-6 ">
            الاسم
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-6 ">
            القيمة المتبقية
        </div>

    </div>
    <div class="info_card px-3 scroll-hide">


        <% if (loans.length > 0) { %>
            <% loans.forEach(({name , change , _id})=> { %>
                <a href="/loan/edit/<%= _id %>" class="row my-2 bill-row">
                    <div class="col-md-8 col-lg-8 col-sm-6 col-6 ">
                        <%= name %>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-6 ">
                        <%= change %>
                    </div>
                </a>
                <% }) %>
                    <% } %>
    </div>

</div>